@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Saira:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap");
@import url("https://meyerweb.com/eric/tools/css/reset/reset200802.css");

:root {
  --background: #121214;
  --input-surface: rgba(32, 32, 36, 1);
  --alert: #e55757;
  --primary-mid: #8257e5;
  --primary-light: #996dff;
  --text-secondary: #7c7c8a;
  --text-primary: #ffffff;
  --heading: 700 22px/100% "Roboto", sans-serif;
  --input-text: 500 16px/100% "Roboto", sans-serif;
  --paragraph: 500 16px/160% "Roboto", sans-serif;
  --helper: 500 12px/100% "Roboto", sans-serif;
  --fullpage: 556px;
}

body {
  align-items: center;
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  font: var(--paragraph);
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#app {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
}

#app img {
  max-width: 260px;
}

form {
  display: flex;
  gap: 12px;
}

input {
  all: unset;
  background: var(--input-surface);
  border-radius: 5px;
  min-width: 452px;
  padding: 16px;
  outline-offset: -2px;
}

input:focus {
  outline: 2px solid var(--primary-mid);
  outline-offset: -2px;
}

small {
  color: var(--alert);
  display: block;
  font: var(--helper);
  padding-top: 16px;
  position: absolute;
}

button {
  all: unset;
  background: var(--primary-mid);
  border-radius: 5px;
  color: var(--text-primary);
  padding: 14px 18px;
  font-size: 24px;
  line-height: 100%;
}

button:hover {
  background: var(--primary-light);
  cursor: pointer;
}

#generate {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#generate h2 {
  font: var(--heading);
}

#generate p {
  font: var(--paragraph);
  max-width: var(--fullpage);
}

#generate p.placeholder {
  color: var(--text-secondary);
}

h2.loading,
p.loading {
  background-color: var(--input-surface);
  background: linear-gradient(
      100deg,
      rgba(52, 52, 56, 0.2) 40%,
      rgba(52, 52, 56, 0.5) 50%,
      rgba(52, 52, 56, 0.2) 60%
    )
    var(--input-surface);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
  min-width: var(--fullpage);
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

h2.loading {
  min-height: 1.6rem;
  border-radius: 4px;
  animation-delay: 0.05s;
}

p.loading {
  min-height: 4rem;
  border-radius: 4px;
  animation-delay: 0.06s;
}
